#uilog {
    background-color: rgb(0, 32, 32);
    border-radius: 3px;
    padding: 0.5em;
}

.uilogwarning {
    color: #c8c840;
}

.uiloginfo {
    color: #8080ff;
}

.uilogupgrade {
    color: #00ff70;
}

.uilogtimestamp {
    color: #abcdef;
}